@page
@model An_application_to_collect_and_share_photos.Pages.Photos.AddSuccessModel
@{
}
<head>
    <title>Photo was Added</title>
</head>
<body>
    <h1>Your Have Successfully added the new photo!</h1>
</body>