@page
@model An_application_to_collect_and_share_photos.Pages.Photos.DeleteSuccessModel
@{
}
<head>
    <title>Photo was Deleted</title>
</head>
<body>
    <h1>Your Have Successfully deleted the photo!</h1>
</body>