@page
@model An_application_to_collect_and_share_photos.Pages.Photos.EditSuccessModel
@{
}
<head>
    <title>Photo was Edited</title>
</head>
<body>
    <h1>Your Have Successfully edited the photo!</h1>
</body>