@page
@model An_application_to_collect_and_share_photos.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Sample Index page-->
<div id="photoContainer">
    @await Html.PartialAsync("_PhotoItems", Model)
</div>

<button id="loadMoreBtn" class="load-more-buttton">Load More</button>

@section Scripts {
    <script>
        
        var itemsPerPage = 5;
        var numberOfPage = 2;
        var loading = false;
        var allPhotosLoaded = false;

        function loadMorePhotos() {
            if (loading || allPhotosLoaded) return;

            loading = true;

            var url = '/Index?handler=LoadMore';

            var data = {
                numberOfPage: numberOfPage,
                itemsPerPage: itemsPerPage
            };

            $.get(url, data, function (data) {
                if (data.trim().length === 0) {
                    allPhotosLoaded = true;
                    $("#loadMoreBtn").hide();
                } else {
                    $("#photoContainer").append(data);
                    numberOfPage++;
                }

                loading = false;
            });
        }


        $(document).ready(function () {
            $("#loadMoreBtn").click(function () {
                loadMorePhotos();
            });
        });
    </script>
}
