@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Sample Index page-->
<div class="media">
    <div class="profileicon">
        <a href="#"> <img src="~/images/user.png" alt="profile">user</a>
    </div>
    <div class="mediaphoto">
        <img src="~/images/sampleimg1.jpg" alt="image">
		<p>Such a beautiful weather this Summer</p>
    </div>
    <div class="moreinfo">
        <a href="#">More info about this image...</a>
    </div>
</div>
<div class="media">
    <div class="profileicon">
        <a href="#"> <img src="~/images/user.png" alt="profile">user</a>
    </div>
    <div class="mediaphoto">
        <img src="~/images/sampleimg2.jpg" alt="image">
        <p>Colors of Autumn</p>
    </div>
    <div class="moreinfo">
        <a href="#">More info about this image...</a>
    </div>
</div>
<div class="media">
    <div class="profileicon">
		<a href="#"> <img src="~/images/user.png" alt="profile">user</a>
    </div>
    <div class="mediaphoto">
        <img src="~/images/sampleimg3.jpg" alt="image">
        <p>Snow white Winter</p>
    </div>
    <div class="moreinfo">
        <a href="#">More info about this image...</a>
    </div>
</div>
<div class="media">
    <div class="profileicon">
        <a href="#"> <img src="~/images/user.png" alt="profile">user</a>
    </div>
    <div class="mediaphoto">
        <img src="~/images/sampleimg4.jpg" alt="image">
        <p>My favourite season...</p>
    </div>
    <div class="moreinfo">
        <a href="#">More info about this image...</a>
    </div>
</div>
<div class="media">
    <div class="profileicon">
        <a href="#"> <img src="~/images/user.png" alt="profile">imie użytkownika</a>
    </div>
    <div class="mediaphoto">
        Zdjęcie
        <p>komentarz</p>
    </div>
    <div class="moreinfo">
        <a href="#">Link do informacji o zdjęciu...</a>
    </div>
</div>