<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - An_application_to_collect_and_share_photos</title>
    <link rel="stylesheet" href="~/An_application_to_collect_and_share_photos.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body>
    <menu>
        <a asp-page="/Index"><img class="logo" src="~/images/logo.png" /></a>

        <a asp-page="/Index">
            <div class="menuitem">
                <div class="material-icons-outlined">home</div><div class="iconsnames">Home</div>
            </div>
        </a>
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-page="Users/Login" data-page-url="/Users/Login">
                <div class="menuitem">
                <div class="material-icons-outlined">login</div><div class="iconsnames">Log in</div>
            </div>
        </a>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-page="Users/ProfilePage" data-page-url="/Users/ProfilePage">
            <div class="menuitem">
                <div class="material-icons-outlined">person</div><div class="iconsnames">Profile</div>
            </div>
        </a>
            <div class="menuitem">
                <div class="dropdown">
                    <div class="material-icons-outlined">add</div>
                    <div class="iconsnames dropbtn" onclick="myFunction()">Add</div>
                    <div id="myDropdown" class="dropdown-content">
                        <ul>
                            <li><a asp-page="/Photos/AddPhoto" data-page-url="/Photos/AddPhoto">Photo</a></li>
                            <li><a asp-page="/Albums/AddAlbum" data-page-url="/Albums/AddAlbum">Album</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <a asp-page="Users/Logout" data-page-url="/Users/Logout">
            <div class="menuitem">
                <div class="material-icons-outlined">logout</div><div class="iconsnames">Logout</div>
            </div>
            </a>
        }
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a asp-page="Users/AssignRole">
            <div class="menuitem">
                <div class="material-icons-outlined">settings</div><div class="iconsnames">Roles</div>
            </div>
        </a>
        }
    </menu>
    <div class="container">
        <main>
            @RenderBody()
        </main>

        <footer><form method="get" asp-page="Index">
            <div class="nav">
                    <select name="filter" class="photo-filter">
                        <option value="Title">Title</option>
                        <option value="Description">Description</option>
                        <option value="CameraName">Camera Name</option>
                        <option value="Tag">Tag</option>
                    </select>
                <input name="searchQuery" type="text" placeholder="Search post or user...">
                <button type="submit">Go</button>
            </div></form>

            <p class="about">
                &copy; 2023 <a asp-area="" asp-page="/Privacy">Privacy</a>
            <p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function toggleAddOptions() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>
    <script>
        // Отримати всі посилання з атрибутом data-page-url
        var links = document.querySelectorAll('a[data-page-url]');

        // Перебір посилань і навігація на відповідні URL-адреси
        links.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var url = link.getAttribute('data-page-url');
                window.location.href = url;
            });
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
