.container {
    font-family: 'Chivo Mono', monospace;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

menu {
    background-color: white;
    position: fixed;
    width: 18%;
    justify-content: space-between;
    float: left;
    padding: 0;
    margin: 0;
    height: 100vh;
    border-right: solid gray 1px;
    text-align: center;
    top:0;
}

menu li{
    padding:5px;
}
.menuitem:hover {
    border-radius: 10px;
    background-color: #ededed;
}

.add-button {

    cursor: pointer;
}

#addOptions {
    position: absolute;
    top: 100%;
    left: 0;
    width: fit-content;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-left: -10px;
    text-align: center;
}

    #addOptions a {
        display: block;
        color: #333;
        text-decoration: none;
        padding: 5px;
    }

        #addOptions a:hover {
            background-color: #f1f1f1;
        }
main {
    padding-left: 20%;
    height: 100%;
    width: 60%;
    float: left;
}

footer {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 20%;
    float: left;
}

.logo {
    position: inherit;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 35%;
}

p {
    margin: 20px;
}

.about {
    position: absolute;
    right: 0;
    bottom: 3%;
}
.material-icons-outlined {
    position: relative;
    width: 60px;
}
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown-content {
    display: none;
    opacity: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.load-more-buttton {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 40%;
    margin-right: 40%;
}
.edit {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: #f0f0f0;
    text-align: center;
}

    .edit:hover {
        background-color: dodgerblue;
    }
.btn-delete {
    margin-top:10px;
    width: 83px;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 0;
}
.btn-action {
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 0;
}
.albums {
    display: inline-block;
    padding: 20px 15px 30px 15px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 30px;
    max-height: 10%;
    max-width: 20%;
    margin-right: 5%;
    margin-top: 6%;
    text-align: center;
}

.albums a:hover{
    color:dodgerblue;
}
.like-button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.album {
    border: 1px solid gray;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.album:hover{
    background-color:dodgerblue;
}
.album a{
    padding:10px;
}
.photo div {
    margin: 5px 5px 2px 5px;
    width: 22vw;
    height: 22vw;
    object-fit: cover;
}
.pick-options {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    width: 75vw;
    max-height: 100px;
    justify-content: center;
    align-items: center;
}

.back-to-user,
.add-photo-button,
.edit-album,
.delete-photos-button,
.delete-photo-button {
    font-size: 18px;
    border: 1px solid gray;
    margin: 10px;
    width: 35%;
    height: 50%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}


.back-to-user,
.edit-album,
.add-photo-button,
.delete-photos-button {
    background-color: #f0f0f0;
}
.return-to-user:hover,
.back-to-user:hover {
   background-color: gray;
   color: white;
}
.add-photo-button:hover{
    cursor:pointer;
    background-color:white;
}
.edit-album:hover{
    background-color:dodgerblue;
    color:white;
}
.delete-photos-button:hover,
.delete-photo-button:hover
{
    cursor:pointer;
    background-color: red;
    color: white;
}

.photoitem {
    display: flex;
    height: 50px;
    flex-wrap: wrap;
    margin: 10px;
    width: 75vw;
    border: 1px solid gray;
    justify-content: flex-start;
    height: 15vw;
}
.photoitem-border {
    padding: 5px;
    border: 1px solid gray;
    display: flex;
    margin: 5px;
    max-width: 10%;
    justify-content: center;
    align-items: center;
}
.photoitem-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}
    .photoitem-photo img {
        flex-grow: 1;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
.photoitem-title {
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:30%
}
.photoitem-checkbox {
    display: flex;
    justify-content: flex-end; /* Змінено на flex-end */
    align-items: center;
    flex-grow: 1;
    margin-right:1%;
}
    .photoitem-checkbox input[type="checkbox"] {
        transform: scale(1.5);
    }
.return-to-user{
    padding:7px;
}
.photo-filter {
    font-family: 'Chivo Mono',monospace;
    float:left;
    border: 1px solid #f0f0f0;
    padding: 10px;
    margin-top:10px;
    width: 95%;
    text-align: center;
    margin-bottom:0px;
}

.successful {
    border: 1px solid black;
    background-color: green;
    text-align: center;
    color:white;
    margin:5%;
}
.redirect-to-index{
    display:inline-block;
    border:1px solid black;
    margin:5%;
}
.redirect-to-index-border{
    border: 1px solid gray;
    background-color:#f0f0f0;
    margin:5%;
    text-align:center;
}
.redirect-to-index:hover {
    background-color: gray;
    color: white;
}

@media (max-width:1200px) {
    .iconsnames {
        display: none;
    }

    .material-icons-outlined {
        padding-left: 20px;
        text-align: center;
            
    }

    .menuitem:hover {
        width: 100px;
    }
}

@media (max-width:900px) {
    .container {
        width: 100%;
    }

    main {
        float: left;
        width: 90%;
        position:center;
        padding-left:100px;
    }
    footer {
        float: left;
    }

    .nav {
        display:none;
    }
    menu{
        width:10%;
    }
    .menuitem:hover {
        background-color: transparent;
    }
    .material-icons-outlined {
        padding-top: 50px;
        padding-left: 12px;
        text-align: left;
    }

    .about {
        display: none;
    }
}

.menuitem {
    font-family: 'Chivo Mono', monospace;
    text-align: left;
    font-size: 15px;
    margin-top: 25%;
    margin-left: 23%;
    margin-right: 20%;
    width: fit-content;
}



.iconsnames {
    position: inherit;
    width: 60px;
    float: right;
    text-align: justify;
    margin-top: 5px;
}


a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

.nav input[type=text] {
    font-family: 'Chivo Mono',monospace;
    font-size: xx-small;
    height: 30px;
    float: left;
    width: 70%;
    padding: 6px;
    margin-top: 10%;
    border: 1px solid #ccc;
    font-size: 17px;
}

.nav button {
    font-family: 'Chivo Mono', monospace;
    font-size: large;
    border: none;
    float: left;
    text-align: left;
    width: 20%;
    padding: 14px;
    margin-top: 10%;
    height: 44px;
}

.nav input::placeholder {
    font-family: 'Chivo Mono',monospace;
    font-size: small;
}

.nav button:hover {
    background-color: #ccc;
}

.media {
    float: left;
    border: 1px solid #ccc;
    margin: 10px;
    margin-right: 10%;
    margin-left: 5%;
}

.profileicon {
    margin-left: 5%;
    float: left;
    height: 20%;
    text-align: left;
}

    .profileicon img {
        width: 7%;
        margin: 5px;
    }

.mediaphoto {
    float: left;
    height: 60%;
    font-size: small;
    margin-left: auto;
}

    .mediaphoto p {
        margin-top: 5px;
        margin-left: 5%;
    }

    .mediaphoto img {
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90%;
    }

.moreinfo {
    height: 20px;
    float: left;
    margin-left: auto;
    width: 100%;
    font-size: small;
    text-align: center;
}

    .moreinfo:hover {
        background-color: #ccc;
    }
