.container {
    font-family: 'Chivo Mono', monospace;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

menu {
    background-color: white;
    position: fixed;
    width: 18%;
    justify-content: space-between;
    float: left;
    padding: 0;
    margin: 0;
    height: 100vh;
    border-right: solid gray 1px;
    text-align: center;
    top:0;
}
.menuitem:hover {
    border-radius: 10px;
    background-color: #ededed;
}
main {
    padding-left: 20%;
    height: 100%;
    width: 60%;
    float: left;
}

footer {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 20%;
    float: left;
}

.logo {
    position: inherit;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 35%;
}

p {
    margin: 20px;
}

.about {
    position: absolute;
    right: 0;
    bottom: 3%;
}
.material-icons-outlined {
    position: relative;
    width: 60px;
}

@media (max-width:1200px) {
    .iconsnames {
        display: none;
    }

    .material-icons-outlined {
        padding-left: 20px;
        text-align: center;
            
    }

    .menuitem:hover {
        width: 100px;
    }
}

@media (max-width:900px) {
    .container {
        width: 100%;
    }

    main {
        float: left;
        width: 90%;
        position:center;
        padding-left:100px;
    }
    footer {
        float: left;
    }

    .nav {
        display:none;
    }
    menu{
        width:10%;
    }
    .menuitem:hover {
        background-color: transparent;
    }
    .material-icons-outlined {
        padding-top: 50px;
        padding-left: 12px;
        text-align: left;
    }

    .about {
        display: none;
    }
}

.menuitem {
    font-family: 'Chivo Mono', monospace;
    text-align: left;
    font-size: 15px;
    margin-top: 25%;
    margin-left: 23%;
    margin-right: 20%;
    width: fit-content;
}



.iconsnames {
    position: inherit;
    width: 60px;
    float: right;
    text-align: justify;
    margin-top: 5px;
}


a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

.nav input[type=text] {
    font-family: 'Chivo Mono',monospace;
    font-size: xx-small;
    height: 30px;
    float: left;
    width: 70%;
    padding: 6px;
    margin-top: 10%;
    border: 1px solid #ccc;
    font-size: 17px;
}

.nav button {
    font-family: 'Chivo Mono', monospace;
    font-size: large;
    border: none;
    float: left;
    text-align: left;
    width: 20%;
    padding: 14px;
    margin-top: 10%;
    height: 44px;
}

.nav input::placeholder {
    font-family: 'Chivo Mono',monospace;
    font-size: small;
}

.nav button:hover {
    background-color: #ccc;
}

.media {
    float: left;
    border: 1px solid #ccc;
    margin: 10px;
    margin-right: 10%;
    margin-left: 5%;
}

.profileicon {
    margin-left: 5%;
    float: left;
    height: 20%;
    text-align: left;
}

    .profileicon img {
        width: 7%;
        margin: 5px;
    }

.mediaphoto {
    float: left;
    height: 60%;
    font-size: small;
    margin-left: auto;
}

    .mediaphoto p {
        margin-top: 5px;
        margin-left: 5%;
    }

    .mediaphoto img {
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90%;
    }

.moreinfo {
    height: 20px;
    float: left;
    margin-left: auto;
    width: 100%;
    font-size: small;
    text-align: center;
}

    .moreinfo:hover {
        background-color: #ccc;
    }
