@page
@model An_application_to_collect_and_share_photos.Pages.Albums.AddPhotosToAlbumSuccessModel
@{
}
<head>
    <title>Photos were Added</title>
</head>
<body>
    <h1>Your Have Successfully added photos to your album!</h1>
</body>