@page
@model An_application_to_collect_and_share_photos.Pages.Albums.DeleteSuccessModel
@{
}
<head>
    <title>Album was Deleted</title>
</head>
<body>
    <h1>Your Have Successfully deleted the album!</h1>
</body>