@page
@model An_application_to_collect_and_share_photos.Pages.Users.LoginSuccessModel
@{
}
<head>
    <title>User Logged In</title>
    <link href="~/css/success.css" rel="stylesheet" />
</head>
<body>
    <div class="successful">
       <h1>Your Have Successfully Logged in to Your Account!</h1>
    </div>
    <div class="redirect-to-index-border">
    <a asp-page="/Index" class="redirect-to-index">
        <p>Return to Main Page</p>
    </a>
    </div>
</body>