@page
@model An_application_to_collect_and_share_photos.Pages.Users.LoginSuccessModel
@{
}
<head>
    <title>User Logged In</title>
</head>
<body>
    <h1>Your Have Successfully logged into your account!</h1>
</body>