@page
@model An_application_to_collect_and_share_photos.Pages.ProfilePageModel
@{
    ViewData["Title"] = "Profile";
}
<head>
    <link href="~/css/profile.css" rel="stylesheet" />
</head>
<div class="profilepage">
    <div class="header">
        <div class="profileimg">
            <img src="~/images/user.png" alt="profilephoto">
        </div>
        <div class="username">
            <p>@User.Identity.Name</p>
        </div>
    </div>
    <div class="profilesheet">
        @foreach (var photo in Model.UserPhotos)
        {
            <div class="photo">
                <a href="#" alt="details">
                    <img src="@photo.Url" alt="@photo.Title">
                </a>
            </div>
        }
    </div>
</div>