@page
@model An_application_to_collect_and_share_photos.Pages.Users.SignUpSuccessModel
@{
}

<head>
    <title>Account Created</title>
</head>
<body>
    <h1>Your Account Was Successfully Created!</h1>
</body>

