@page
@model An_application_to_collect_and_share_photos.Pages.Users.SignUpSuccessModel
@{
}
<head>
    <title>User Logged In</title>
</head>
<body>
    <h1>Your Have Successfully registered a new account!</h1>
</body>